*.bak
*.tmp
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
CVS*/
Data/
BackOfficeData/
CMSData/
*.tmp
*~
*.swp
*.sln.docstates
packages/
VersionInfo.cs
*.orig
Plaza/Plaza.Backoffice/Deploy/*.zip
Plaza/Plaza.Website/CMS/Deploy/*.zip
Plaza/.vs/config/applicationhost.config
.git
.vs/
Plaza/.vs/config/applicationhost.config
Plaza/packages/CMS.2.1.488.0/CMS.2.1.488.0.nupkg

packages/
VersionInfo.cs
*.orig
build-artifacts
tools