@page "/surveyhelp"

<MudText Typo="Typo.body1" Align="Align.Center" Class="mt-10">
    Survey imports will only work if the csv contains a header to allow for mapping. The header must have the following column names,
    <br/> Although the order of the columns do not matter. 
</MudText>

<div style="max-width: 1700px; margin: 50px auto">
    <MudSimpleTable>
        <thead>
        <tr>
            <th>Country Name</th>
            <th>Country Code</th>
            <th>Year Of Survey</th>
            <th>Survey Name</th>
            <th>15-19</th>
            <th>20-24</th>
            <th>25-29</th>
            <th>30-34</th>
            <th>35-39</th>
            <th>40-44</th>
            <th>45-49</th>
        </tr>
        </thead>
    </MudSimpleTable>
</div>







